In [1]:
import pandas as pd
import os

In [3]:
filename = "YTBS/"+os.listdir('YTBS/')[0]
data = pd.read_excel(filename, usecols=['SANTRAL ADI','YIL','AYLAR','GELEN SU'])

for i in range(len(os.listdir('YTBS/'))-1):
    filename = "YTBS/"+os.listdir('YTBS/')[i+1]
    data_add = pd.read_excel(filename, usecols=['SANTRAL ADI','YIL','AYLAR','GELEN SU'])
    frames = [data, data_add]
    data = pd.concat(frames)

In [4]:
data.shape

(1104, 4)

In [5]:
data.head()

     SANTRAL ADI   YIL  AYLAR    GELEN SU
0  ALTINKAYA HES  2001   Ocak  263116.511
1  ALTINKAYA HES  2001  Şubat  266004.589
2  ALTINKAYA HES  2001   Mart  278379.779
3  ALTINKAYA HES  2001  Nisan  142486.115
4  ALTINKAYA HES  2001  Mayıs  292039.065

In [6]:
data.tail()

        SANTRAL ADI   YIL    AYLAR    GELEN SU
43  SUAT UĞURLU HES  2023  Ağustos  514824.944
44  SUAT UĞURLU HES  2023    Eylül  311705.504
45  SUAT UĞURLU HES  2023     Ekim  290446.880
46  SUAT UĞURLU HES  2023    Kasım  286736.966
47  SUAT UĞURLU HES  2023   Aralık  261352.065

In [7]:
# Reset index
data.reset_index(drop=True)

# Check the numbe of rows and columns of dataframe
data.shape

(1104, 4)

In [8]:
data.dtypes

SANTRAL ADI     object
YIL              int64
AYLAR           object
GELEN SU       float64
dtype: object

In [9]:
# Calculate the annual water inflow to HPPs
water_inflow = data.groupby(["SANTRAL ADI","YIL"])["GELEN SU"].sum()

In [10]:
water_inflow.head()

SANTRAL ADI    YIL
ALTINKAYA HES  2001    2128843.502
               2002    3455389.383
               2003    2424699.438
               2004    3456506.100
               2005    2288576.474
Name: GELEN SU, dtype: float64

In [11]:
water_inflow.tail()

SANTRAL ADI      YIL
SUAT UĞURLU HES  2019    4453471.771
                 2020    3598616.755
                 2021    2006063.781
                 2022    1308063.157
                 2023    4362832.935
Name: GELEN SU, dtype: float64

In [12]:
type(water_inflow)

pandas.core.series.Series

In [13]:
water_inflow.dtypes

dtype('float64')

In [14]:
data['SANTRAL ADI']

0       ALTINKAYA HES
1       ALTINKAYA HES
2       ALTINKAYA HES
3       ALTINKAYA HES
4       ALTINKAYA HES
           ...
43    SUAT UĞURLU HES
44    SUAT UĞURLU HES
45    SUAT UĞURLU HES
46    SUAT UĞURLU HES
47    SUAT UĞURLU HES
Name: SANTRAL ADI, Length: 1104, dtype: object

In [15]:
for series_name, series in water_inflow.items():
    print(series_name[0])
#    print(series)

ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
ALTINKAYA HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
DERBENT HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
HASAN UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES
SUAT UĞURLU HES

In [16]:
for series_name, series in water_inflow.items():
    print(series_name[0], series_name[1], series)

ALTINKAYA HES 2001 2128843.502
ALTINKAYA HES 2002 3455389.383
ALTINKAYA HES 2003 2424699.438
ALTINKAYA HES 2004 3456506.1
ALTINKAYA HES 2005 2288576.474
ALTINKAYA HES 2006 2233877.775
ALTINKAYA HES 2007 1422776.406
ALTINKAYA HES 2008 1222148.563
ALTINKAYA HES 2009 3061896.222
ALTINKAYA HES 2010 4123326.542
ALTINKAYA HES 2011 4903305.535
ALTINKAYA HES 2012 2331456.75
ALTINKAYA HES 2013 3246544.408
ALTINKAYA HES 2014 2609853.732
ALTINKAYA HES 2015 4207684.604
ALTINKAYA HES 2016 3552381.149
ALTINKAYA HES 2017 2541604.526
ALTINKAYA HES 2018 2056628.2920000001
ALTINKAYA HES 2019 2560784.989
ALTINKAYA HES 2020 1464686.55
ALTINKAYA HES 2021 2098929.042
ALTINKAYA HES 2022 556333.784
ALTINKAYA HES 2023 2347089.716
DERBENT HES 2001 2095537.679
DERBENT HES 2002 2846612.882
DERBENT HES 2003 1778616.626
DERBENT HES 2004 3492943.686
DERBENT HES 2005 2492319.318
DERBENT HES 2006 2722187.389
DERBENT HES 2007 1769825.6940000001
DERBENT HES 2008 1166335.528
DERBENT HES 2009 1646083.129
DERBENT HES 2010 4855416.224
DERBENT HES 2011 4819579.763
DERBENT HES 2012 2467332.874
DERBENT HES 2013 3799702.278
DERBENT HES 2014 1938813.403
DERBENT HES 2015 3623243.695
DERBENT HES 2016 4066682.934
DERBENT HES 2017 2832956.214
DERBENT HES 2018 2305180.282
DERBENT HES 2019 2636449.807
DERBENT HES 2020 2226394.111
DERBENT HES 2021 1519796.54
DERBENT HES 2022 556905.6969999999
DERBENT HES 2023 2307958.536
HASAN UĞURLU HES 2001 2176390.98
HASAN UĞURLU HES 2002 3476113.647
HASAN UĞURLU HES 2003 3170180.414
HASAN UĞURLU HES 2004 4339975.849
HASAN UĞURLU HES 2005 4868822.065
HASAN UĞURLU HES 2006 4476142.243
HASAN UĞURLU HES 2007 3077111.372
HASAN UĞURLU HES 2008 4206838.7
HASAN UĞURLU HES 2009 5934074.68
HASAN UĞURLU HES 2010 6030372.601
HASAN UĞURLU HES 2011 4930085.4569999995
HASAN UĞURLU HES 2012 3926605.306
HASAN UĞURLU HES 2013 3676807.0
HASAN UĞURLU HES 2014 1597260.764
HASAN UĞURLU HES 2015 4274322.807
HASAN UĞURLU HES 2016 4645093.964
HASAN UĞURLU HES 2017 2913544.556
HASAN UĞURLU HES 2018 2803021.02
HASAN UĞURLU HES 2019 4110846.394
HASAN UĞURLU HES 2020 3307358.433
HASAN UĞURLU HES 2021 1809061.227
HASAN UĞURLU HES 2022 959732.596
HASAN UĞURLU HES 2023 3879189.994
SUAT UĞURLU HES 2001 2062270.44
SUAT UĞURLU HES 2002 3402744.971
SUAT UĞURLU HES 2003 2997758.47
SUAT UĞURLU HES 2004 4314916.535
SUAT UĞURLU HES 2005 4989146.147
SUAT UĞURLU HES 2006 4540522.264
SUAT UĞURLU HES 2007 3122033.983
SUAT UĞURLU HES 2008 4394641.044
SUAT UĞURLU HES 2009 6083549.227
SUAT UĞURLU HES 2010 6253178.111
SUAT UĞURLU HES 2011 5155607.732
SUAT UĞURLU HES 2012 3957709.77
SUAT UĞURLU HES 2013 3794078.6969999997
SUAT UĞURLU HES 2014 1413840.1
SUAT UĞURLU HES 2015 4463927.66
SUAT UĞURLU HES 2016 5078640.26
SUAT UĞURLU HES 2017 2919385.756
SUAT UĞURLU HES 2018 3041831.149
SUAT UĞURLU HES 2019 4453471.771
SUAT UĞURLU HES 2020 3598616.755
SUAT UĞURLU HES 2021 2006063.781
SUAT UĞURLU HES 2022 1308063.1570000001
SUAT UĞURLU HES 2023 4362832.9350000005

In [17]:
water_inflow.to_excel('water_inflow.xlsx', index=True)